[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
m2r = "*"
bump2version = "*"
tox = "*"
sphinx = "*"
romnnn_sphinx_press_theme = "*"
sphinxemoji = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-sugar = "*"
coverage = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
black = "==19.10b0"

[packages]
{{cookiecutter.project_slug}} = {path = ".", editable = true}
