[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
tox = "*"
cookiecutter = "*"
pytest = "*"
pytest-cookies = "*"
pytest-xdist = "*"
pytest-sugar = "*"
sphinx = ">=2.0"
pyyaml = "*"
romnnn_sphinx_press_theme = "*"

[packages]

[requires]
python_version = "3.7"
